// color pattern
$main-accent-color: #0057a7;
$accent-color: #2cb5ff;
$danger-color: #ff0000;
$blue-dark: #10172e;
$blue-black: #1b233b;
$dark-blue: #414963;
$dark-grey: #7d88ac;
$mid-grey: #acb5d5;
$light-grey: #c2cad1;
$extra-light-grey: #dee2e6;
$background-grey: #f7f8fa;
$transparent: transparent;
